Import dataset

In [11]:
import pandas as pd
red = pd.read_excel("Data/winequality-red.xlsx",skiprows=1)
red.head()

ModuleNotFoundError: No module named 'pandas'

Adding type red to the dataset

In [12]:
red['type'] = 'red'
red.head()

NameError: name 'red' is not defined

Scanning the data

In [48]:
red.info()
red.describe(include='all')
red.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
 12  type                  1599 non-null   object
dtypes: float64(11), int64(1), object(1)
memory usage: 162.5+ KB

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
type                    0
dtype: int64

Checking for duplicates

In [50]:
duplicates = red[red.duplicated()]
print(duplicates)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
4               7.4             0.700         0.00            1.90      0.076
11              7.5             0.500         0.36            6.10      0.071
27              7.9             0.430         0.21            1.60      0.106
40              7.3             0.450         0.36            5.90      0.074
65              7.2             0.725         0.05            4.65      0.086
...             ...               ...          ...             ...        ...
1563            7.2             0.695         0.13            2.00      0.076
1564            7.2             0.695         0.13            2.00      0.076
1567            7.2             0.695         0.13            2.00      0.076
1581            6.2             0.560         0.09            1.70      0.053
1596            6.3             0.510         0.13            2.30      0.076

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
4                    11.0                  34.0  0.99780  3.51       0.56
11                   17.0                 102.0  0.99780  3.35       0.80
27                   10.0                  37.0  0.99660  3.17       0.91
40                   12.0                  87.0  0.99780  3.33       0.83
65                    4.0                  11.0  0.99620  3.41       0.39
...                   ...                   ...      ...   ...        ...
1563                 12.0                  20.0  0.99546  3.29       0.54
1564                 12.0                  20.0  0.99546  3.29       0.54
1567                 12.0                  20.0  0.99546  3.29       0.54
1581                 24.0                  32.0  0.99402  3.54       0.60
1596                 29.0                  40.0  0.99574  3.42       0.75

      alcohol  quality type
4         9.4        5  red
11       10.5        5  red
27        9.5        5  red
40       10.5        5  red
65       10.9        5  red
...       ...      ...  ...
1563     10.1        5  red
1564     10.1        5  red
1567     10.1        5  red
1581     11.3        5  red
1596     11.0        6  red

[240 rows x 13 columns]

Everythin seems to be in place

Importing whitewine dataset.

In [53]:
white = pd.read_excel("Data/winequality-white.xlsx",skiprows=1)
white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

adding type white

In [54]:
white['type'] = 'white'
white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

Exploring the data

In [55]:
white.info()
white.describe(include='all')
white.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
 12  type                  4898 non-null   object
dtypes: float64(11), int64(1), object(1)
memory usage: 497.6+ KB

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
type                    0
dtype: int64

Checking for duplicates

In [56]:
duplicates = white[white.duplicated()]
print(duplicates)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
4               7.2              0.23         0.32             8.5      0.058
5               8.1              0.28         0.40             6.9      0.050
7               7.0              0.27         0.36            20.7      0.045
8               6.3              0.30         0.34             1.6      0.049
20              6.2              0.66         0.48             1.2      0.029
...             ...               ...          ...             ...        ...
4828            6.4              0.23         0.35            10.3      0.042
4850            7.0              0.36         0.35             2.5      0.048
4851            6.4              0.33         0.44             8.9      0.055
4856            7.1              0.23         0.39            13.7      0.058
4880            6.6              0.34         0.40             8.1      0.046

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
4                    47.0                 186.0  0.99560  3.19       0.40
5                    30.0                  97.0  0.99510  3.26       0.44
7                    45.0                 170.0  1.00100  3.00       0.45
8                    14.0                 132.0  0.99400  3.30       0.49
20                   29.0                  75.0  0.98920  3.33       0.39
...                   ...                   ...      ...   ...        ...
4828                 54.0                 140.0  0.99670  3.23       0.47
4850                 67.0                 161.0  0.99146  3.05       0.56
4851                 52.0                 164.0  0.99488  3.10       0.48
4856                 26.0                 172.0  0.99755  2.90       0.46
4880                 68.0                 170.0  0.99494  3.15       0.50

        alcohol  quality   type
4      9.900000        6  white
5     10.100000        6  white
7      8.800000        6  white
8      9.500000        6  white
20    12.800000        8  white
...         ...      ...    ...
4828   9.200000        5  white
4850  11.100000        6  white
4851   9.600000        5  white
4856   9.000000        6  white
4880   9.533333        6  white

[937 rows x 13 columns]

Everything seems to be in place.
Aggregating the two datasets into one

In [58]:
wines = pd.concat([red, white], ignore_index=True)
wines.head(3000)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,7.3,0.18,0.29,1.2,0.044,12.0,143.0,0.9918,3.20,0.48,11.3,7,white
2996,7.3,0.25,0.36,13.1,0.050,35.0,200.0,0.9986,3.04,0.46,8.9,7,white
2997,7.3,0.25,0.36,13.1,0.050,35.0,200.0,0.9986,3.04,0.46,8.9,7,white
2998,7.0,0.20,0.34,5.7,0.035,32.0,83.0,0.9928,3.19,0.46,11.5,6,white
2999,7.3,0.25,0.36,13.1,0.050,35.0,200.0,0.9986,3.04,0.46,8.9,7,white

Saving the file

In [9]:
wines=df.to_excel("Data/wines.xlsx", index=False)

NameError: name 'df' is not defined

In [10]:
features = wines.columns.drop(['quality'])
print(features)
target = 'quality'

NameError: name 'wines' is not defined

NameError: name 'wines' is not defined